<div class="jumbotron center">
	<h1>Benterest!</h1>
	<p>Home of Kind King Benwenceslas!</p>
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-warning btn-lg" %>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
</div>