<div class="jumbotron center">
	<h1>Benterest!</h1>
	<p>Home of Kind King Benwenceslas!</p>
	<p>
		<%= link_to "Log in","#", class: "btn btn-warning btn-lg" %>
		<%= link_to "Sign Up","#", class: "btn btn-primary btn-lg" %>
	</p>
</div>